- if user_signed_in?
  %li
    / logged in content
    = link_to('Edit account', edit_user_registration_path)
- elsif false
  /until we have non-FB login
  %li
    = link_to('Sign up', new_user_registration_path)