%div#container
  %h1 CloseGuru
  %h3 Aktuellste Kurse
  = link_to "Kurse anbieten", url_for(:controller => :classes, :action => :offer)
  - @classrooms.each do |classroom|
    %div.classroom
      = link_to classroom.name, url_for_classroom(classroom)
      \- #{classroom.summary}
      = tweet_button_for_class(classroom)

