%form{:action => "classes_new", :method => "post"}
  Kurs-Titel:
  %input{:name => "name", :type => "text"}/
  %br/
  Zusammenfassung:
  %input{:summary => "summary", :type => "text"}/
  %br/
  Beschreibung:
  %input{:description => "description", :type => "text"}/
  %br/
  Was macht dich zum Guru für diesem Kurs:
  %input{:teacher_skills => "teacher_skills", :type => "text"}/
  %br/
  Vorschaubild:
  %input{:image => "image", :type => "image"}/
  %br/
  %input{:type => "submit", :value => "Submit"}/